<header>
  <% if logged_in? %>
    <h1><%= current_user.name %>さんのTasklist</h1>
    <%= link_to 'Logout', logout_path, method: :delete %>
  <% else %>  
    <%= link_to 'Signup', signup_path %>
    <%= link_to 'Login', login_path%>
  <% end %>
</header>